<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/ejs.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/dist/axios.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Steganography</title>
  </head>
  <body>
    <div class="wrap">
      <div class="sidePanel">
        <h1 class="title">Steganograph</h1>
        <div onclick="route(this, 0)" class="list active">Text to Image</div>
        <div onclick="route(this, 1)" class="list">Text from Image</div>
        <div onclick="route(this, 2)" class="list">Image to Image</div>
        <div onclick="route(this, 3)" class="list">Image from Image</div>
        <div onclick="route(this, 4)" class="list">Image to Video</div>
        <div onclick="route(this, 5)" class="list">Image from Video</div>
      </div>
      <div class="mainContent">
        <div class="content"><%- include('encode.ejs'); %></div>
        <div class="content"><%- include('decode.ejs'); %></div>
        <div class="content"><%- include('encode-image.ejs'); %></div>
        <div class="content"><%- include('decode-image.ejs'); %></div>
        <div class="content"><%- include('encode-video.ejs'); %></div>
        <div class="content"><%- include('decode-video.ejs'); %></div>
      </div>
    </div>
    <script src="/js/main.js"></script>
    <script src="/js/video.js"></script>
  </body>
</html>
